.color-bg-primary {
  background-color: $brand-primary;
}

.color-bg-secondary {
  background-color: $brand-secondary;
}

.color-bg-black {
  background-color: $black;
}

.color-bg-white {
  background-color: $white;
}

.color-bg-gray-dark {
  background-color: $gray-dark;
}

.color-bg-gray-medium {
  background-color: $gray-medium;
}

.color-bg-gray-light {
  background-color: $gray-light;
}

.color-bg-success {
  background-color: $success;
}

.color-bg-warning {
  background-color: $warning;
}

.color-bg-danger {
  background-color: $danger;
}
