[class^="stack"] {

  @include bp(tablish){
    float: left;
  }

  +[class^="stack"] {

    @include bp(phony){
      margin: 1em 0 0;
    }
    @include bp(tablish){
      margin: 0 0 0 2.3529412%;
    }
  }
}

.stack-1 {
  @include bp(tablish) {
    @include clx;
    width: 31.7647059%;
  }
}

.stack-2 {
  @include bp(tablish) {
    @include clx;
    width: 65.8823529%;
  }
}

.stack-5050 {
  @include bp(tablish) {
    @include clx;
    width: 48.8235294%;
  }
}

.stack-3 {
  @include bp(tablish) {
    @include clx;
    width: 100%;
  }

  +[class^="stack"] {
    margin: 1em 0 0;
  }
}

.row {
  clear: both;
}

.row-padded {
  padding: 1rem 0;
}
