html {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: $base-size + px;
}

body {
  @include font-size(1.7);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: .5em;
  margin-top: 1.5em;
}

h1 { @include font-size($sizevalue: (2.35 * $base-font-size)); font-weight: 700; }
h2 { @include font-size($sizevalue: (1.75 * $base-font-size)); font-weight: 700; }
h3 { @include font-size($sizevalue: (1.17 * $base-font-size)); font-weight: 700; }
h4 { @include font-size($sizevalue: (1 * $base-font-size)); font-weight: 700; }
h5 { @include font-size($sizevalue: (.88 * $base-font-size)); font-weight: 700; }
h6 { @include font-size($sizevalue: (.75 * $base-font-size)); font-weight: 300; }

p {
  margin: 1em 0 0;

  &:last-child {
    margin-bottom: 1em;
  }
}

.lead {
  @include font-size-em(1.125, $base-font-size, $base-size);
}

a {
  color: $link-color-default;
  text-decoration: $link-decoration;

  &:visited,
  &:focus,
  &:active {
    color: $link-color-default;
  }

  &:hover {
    color: $link-color-default-alt;
  }
}
