$mobile-break: 768px;

@import 'variables', 'mixins', 'colors';

$link-color-default: #5496f2;
$link-color-default-alt: #000;

@mixin bp($break-point: 1200px) {
  @media (min-width: $break-point) { @content; };
}

.sidebar {
  box-sizing: border-box;
  float: left;
  padding: 1rem;
  position: fixed;
  width: 100%;

  @include bp($mobile-break) {
    width: 33.33%;
  }
}

.nav {
  padding-left: 0;

  li {
    list-style: none;
    padding-left: .5rem;

    > ul {
      padding-left: 1rem;
    }

    a { border-left: 3px solid transparent; padding-left: .5rem; }

    &.active > a {
      border-left: 3px solid $link-color-default-alt;
      color: $link-color-default-alt;
    }
  }

  a {
    color: $link-color-default;
    text-decoration: none;

    &:visited,
    &:focus,
    &:active {
      color: $link-color-default;
    }

    &:hover {
      color: $link-color-default-alt;
    }
  }
}

.page-content {
  box-sizing: border-box;
  margin-left: 33.33%;
  padding: 1rem 10rem 20rem 1rem;
  width: 100%;

  @include bp($mobile-break) {
    width: 66.67%;
  }
}

.content {
  margin: 0 auto;
  max-width: 72em;
  padding: 1em 0;
}

.pallet {

  .pallet-swatch {
    display: inline-block;

    + .pallet-swatch {
      margin-left: 1rem;
    }

    .swatch {
      border-radius: .25rem;
      box-shadow: .125rem .125rem .5rem rgba(0, 0, 0, .25);
      display: block;
      height: (50 / $base-size) + rem;
      margin: .5rem 0;
      width: (150 / $base-size) + rem;
    }
  }
}

.section-heading {
  font-weight: bold;
  padding-bottom: .25rem;
}

h2.section-heading {
  border-bottom: 4px solid $gray-dark;
  margin-top: 2rem;
}

h3.section-heading {
  border-bottom: 1px solid $gray-light;
  margin-top: 2rem;
}

.example-type-sizing {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 { margin: 0; }
}

.code {
  background-color: lighten($codecolor, 56%);
  border-radius: 4px;
  color: $codecolor;
  font-size: 90%;
  padding: 0 .5rem;
}

pre {
  background-color: $white;
  border: 1px solid darken($white, 20%);
  border-radius: 4px;
  color: lighten($white, 5%);
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
}
